@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    background-color: #f5f5f5;
    color: #212121;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    margin-left: 14px;
}
.btn img {
    width: 30px; /* Make the arrow smaller */
    height: 20px; /* Make the arrow smaller */
    margin-left: 6px;
    margin-top: 5px; /* Space between text and image */
}
.contact form button {
    background-color: #212EA0;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;    /* Same padding as .btn.dark-button */
    border-radius: 20px;  /* Same border-radius */
    font-size: 18px;      /* Same font size */
    border: none;
    outline: none;
    width: auto;          /* Set the width to auto so it adjusts to content */
    min-width: 150px;     /* Ensure a minimum width to prevent thin button */
    margin-top: 15px;
}

.contact form button img {
    margin-left: 6px; /* Space between text and icon */
}
/* @media query */
@media (max-width: 1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 6px 14px;
        margin-top: 24px;
        margin-left: 0px;

    }
}